div.bloc1{
    color: red;
    background-color: aqua;
}
div.bloc2{
    color: green;
    background-color: yellow;
}
div.bloc3{
    color: blue;
    background-color: orange;
}
span.hola {
    background-color: yellow;
}
span.bon {
    background-color: red;
}