
span.diners{
    font-style: oblique;
}
span.no{
    text-decoration: line-through;
}
p.blau{
    color: blue;
}
span.smr{
    color: crimson;
    font-weight: bold;
}
span.promte{
    font-style: oblique;

}
span.ono{
    text-decoration: line-through;
    
}